@use './variables' as v;

:root {
  --font-family: v.$font-family;
  font-family: var(--font-family);
  --font-size: v.$base-font-size;
  font-size: var(--font-size);
  --line_height: v.$base-line-height;
  line-height: var(--line_height);
  --color : v.$site-color;
  color: var(--color);
}
/*  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: v.$site-link-color;
  text-decoration: none;
  display: block;
  padding: calc(v.$gutter-x/2);
  &:hover, &:focus-visible, &:focus{
    background-color: v.$site-link-color;
    color: v.$site-bg-color;
    outline: none;
  }
}

.contenir {
  margin-left: auto;
  margin-right: auto;
  padding-left: v.$gutter-x;
  padding-right: v.$gutter-x;
}

.ligne {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body{
    margin: 0;
    > header{
        background-color: v.$header-bg-color;
        color: v.$header-color;
        padding-top: v.$gutter-y;
        padding-bottom: v.$gutter-y;
    }
    > nav ul{
        list-style-type: none;
        padding: 0;
    }
}