@use 'sass:map';
@use './variables' as v;
@use './maps' as m;

@each $bp, $value in m.$bps {
  @media screen and (min-width: #{$value}) {
    .contenir {
      max-width: map.get(m.$min-width, $bp);
    }

    .ligne > * {
      min-width: #{map.get(m.$max-c-width, $bp)};
    }

    @if($value == 992px){
        body > nav ul{
            display: flex;
            flex-wrap: wrap;
            
        }
    }

  }
}