@use 'sass:map';

$sizes: small, large, larger;

$title-font-sizes: (
  small: 1rem,
  large: 1.5rem,
  larger: 2rem,
);

@each $size in $sizes {
  .#{$size}-title {
    font-family: Impact, sans-serif;
    font-size: map.get($title-font-sizes, $size);
  }
}