ul{
    list-style-type: none;
    padding: 0;
    li{
        &::before{
            font-family: 'bootstrap-icons';
            content: '\F133';
            color: $red;
            margin-right: 0.5rem;
            vertical-align: -0.125rem;
        }
    }
}