$site-bg-color: white;
$site-color: #333;
$header-bg-color: #333;
$header-color: white;
$site-link-color: purple;
$base-font-size: 1.2rem;
$base-line-height: 1.5rem;
$font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
$gutter-x: 0.5rem;
$gutter-y: 0.5rem;

$sizes: small, large, larger;